# Core functionality - changes here should be rare!
/src/app.py                   @AlbertNjobo
/src/backend/database.py      @AlbertNjobo
/src/backend/routers/auth.py  @AlbertNjobo

# The frontend will need refactored soon to be more object oriented.
/src/static/   @AlbertNjobo
